@import "components/buttons";

html, body{
    font-family: Ubuntu, Helvetica;
    margin:0;
    padding:0px;
}


.fullbg{
    background-image:url("../../images/background.jpg");
    background-size:cover;
    height:100vh;
    background-repeat:no-repeat;
}

.halfbg{
    background-image:url("../../images/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:50vh;
}

h1{
    display:block;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-size: 3EM;
    margin-top:20vh;
    color:white;
}

a{
    text-decoration: none;
}

#loginbtn{
    display:block;
    width: 300px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
}

.profielfoto{
    float:left;
    width:50px;
    padding:10px;
}

.profielfoto1{
    width:78px;
    margin:10px;
    border-radius:78px;
    border:solid 1px gray;
}

h4{
    color:white;
    font-weight:200;
    padding-top:5px;
}

.underbg{
    margin:178px 10px 10px 10px;
    
}

.flexcontainer{
    display:flex;
    flex-direction:column;
}

.flexitem{
    padding:10px;
}

.infotext{
    margin:10px;
}

.valuetext{
    float:right;
    margin-right:10px;
    font-weight:bold;
}

.flexcontainer1{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;
}

.form-group{
    width:380px;
    margin-left:auto;
    margin-right:auto;
}

.form-control {
    display: block;
    width: 150px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin:5px;
}

label{
    color:gray;
    font-size:0.9em;
    margin-left:10px;
}

.profielfotobig{
    display:block;
    width:120px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}

.namebig{
    display:block;
    text-align:center;
    font-size:1.5em;
}

