<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Or Die</title>
    <link rel="stylesheet" href="./css/app.css">
</head>
<body class="fullbg">
    <h1>add group</h1>
    <form action="/group/edit" method="post" class="formgroup">
        <input type="text" class="form-control" name="group" placeholder="New group">
        <button class="btn"type="submit">Add group</button>
    </form>
</body>
</html>