<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo page</title>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="flexcontainer">
        <div class="flexitem halfbg">
            <img class="profielfotobig" src="<%= users[i].picture %>" alt="profielfoto">
        </div>
        <div class="flexitem">
           <div class="demoDie">
                <a href="" class="btn voting" id="demo">Demo</a>
                <a href="" class="btn voting" id="die">Die</a>
            </div>
            <p class="infotext">
                Now on stage
                <span class="valuetext">
                <%= users[i].name %>
            </span>
            </p>
            <hr>
        </div>
        
    </div>
    
</body>
</html>