<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Or Die</title>
    <link rel="stylesheet" href="./css/app.css">
</head>
<body class="fullbg">
    <h1>Demo Or die</h1>
    <div id="loginbtn"><a href="/login/facebook" class="btn">Login with facebook</a></div>
</body>
</html>
