<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
    <link rel="stylesheet" href="./css/app.css">
</head>
<body>
    <div class="flexcontainer">
        <div class="flexitem halfbg">
            <img class="profielfoto" src="<%= user.picture %>" alt="profielfoto"><h4><%= user.name %></h4>
    <!--<form action="/profile/edit" method="post">
        <input type="text" name="username" placeholder="username">
        <button type="submit">Update</button>
    </form>-->
            <a href="/logout">logout</a>
        </div>
        <div class="flexitem">
            <p class="infotext">
                In groups
                <span class="valuetext">
                <a href="/group"><% for(var i=0; i<groups.length; i++) {%>
   <%= groups[i].groupname %>,
<% } %></a>
            </span>
            </p>
            
            <p class="infotext">
                Last time on stage
                <span class="valuetext">
                Now
            </span>
            </p>
            <hr>
            
        </div>
    </div>
    
</body>
</html>