<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="./css/app.css">
</head>
<body>
<div class="form-group">
  <label for="sel1">Select a group</label>
  <select class="form-control" id="sel1">
   <% for(var i=0; i<groups.length; i++) {%>
   <option><%= groups[i].groupname %></option>
<% } %>
  </select>
</div>
<div class="flexcontainer1">
<% for(var i=0; i<users.length; i++) {%>
  <% var userselect = users[i].name;
    userselect = userselect.replace(/\s+/g, ''); //geen spaties in user url
   %>
   <div class="flexitem1"><a href="/<%= i %>"><img src="<%= users[i].picture %>" alt="profielfoto" class="profielfoto1"></a></div>
<% } %>
</ul>
</body>
</html>