<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="./css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
           $("#search").keyup(function(){

              //inputbox value
              var val = $(this).val().toLowerCase();
               
               $(".flexitem1").hide();
               
               $(".flexitem1").each(function(){
                   var text = $(this).attr("value").toLowerCase();
                   
                   if(text.indexOf(val) != -1){
                       $(this).show();
                   }
               })
           });
        });
    </script>
</head>
<body>
<div class="form-group">
  <label for="sel1">Select a group</label>
  <select class="form-control" id="sel1">
   <% for(var i=0; i<users.length; i++) {%>
   <option><%= users[i].name %></option>
<% } %>
  </select>
  <label for="sel1">Find a user</label>
  <input id="search" class="form-control" type="text" name="search" placeholder="Search user">
</div>
<div class="flexcontainer1">

<% for(var i=0; i<users.length; i++) {%>
   <!--<div class="flexitem1"><img src="<%= users[i].picture %>" alt="profielfoto" class="profielfoto1"></div>-->
   <div class="flexitem1" value="<%= users[i].name %>"><img src="<%= users[i].picture %>" alt="profielfoto" class="profielfoto1"></div>
<% } %>


</ul>
</body>
</html>


